@use 'variables' as *;

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background: $cornflower;
}

.contact-header {
    font-size: 2.5em;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $crem;
    font-size: 1.5rem;
    padding: 3%;
    &:hover {
        transform: translateY(8px);
        transition: transform 0.3s ease-out;
    }
}

.icon {
    max-width: 3rem;
}

#copyright {
    margin: 0.7rem;
    font-size: 0.9rem;
    color: $crem;
    text-align: center;
}

@media (max-width: 655px) {
    .contact-section {
        padding: 0 2rem;
    }
    
    .contact-header {
        font-size: 1.5em;
    }
    
    .contact-links {
        margin-top: 2rem;
        flex-direction: column;
    }
    
    .contact-detail {
        font-size: 1rem;
        padding: 3%;
        &:hover {
            transform: translateY(8px);
            transition: transform 0.3s ease-out;
        }
    }
    
    .icon {
        max-width: 2rem;
    }
}