@use 'variables' as *;

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(62deg, $navyblue 0%, $cornflower 100%); 
}

.title {
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expand {
    padding: 8rem 1rem 3rem 1rem;
}

#subtitle {
    font-size: 1em;
}

#expand_icon {
    width: 3rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.5, 1.5);
            transition: transform 0.3s ease-in-out;
    }
}

#more_info {
    font-size: 0.55em;
    max-width: 50rem;
    padding: 0rem 3rem 1rem 3rem;
}

.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1.03, 1.03); 
    transition: 
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

.hidden {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#more_info_img {
    border-radius: 50%;
    width: 15%;
    min-width: 13rem;
    max-width: 25rem;
}

#more_info_text {
    margin-top: 0.5rem;
    line-height: 1.3em;
    letter-spacing: 0.04em;
    font-size: 0.7em;
}

@media (max-width: 655px) {
    .title {
        font-size: 1.3em;
    }
    #more_info {
        padding: 0.3rem 1rem;
        font-size: 0.8em;
    }
    #more_info_img {
        display: none;
    }
}