@use 'variables' as *;

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(62deg, $navyblue 0%, $cornflower 100%); 
}

.title {
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expand {
    padding: 8rem 1rem 3rem 1rem;
}

#subtitle {
    font-size: 1em;
}

#expand_icon {
    width: 2.5rem;
    &:hover {
        cursor: pointer;
    }
}

#more_info {
    font-size: 0.55em;
    max-width: 50rem;
    padding: 0rem 3rem 1rem 3rem;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 1s;
}

.hidden {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: visibility 0s linear 0s, opacity 0s;
}

#more_info_img {
    border-radius: 50%;
    width: 15%;
    min-width: 13rem;
    max-width: 25rem;
}

#more_info_text {
    margin-top: 0.5rem;
    line-height: 1.3em;
    letter-spacing: 0.04em;
    font-size: 0.7em;
}

@media (max-width: 655px) {
    .title {
        font-size: 1.5em;
    }
    #more_info {
        padding: 1rem 1rem;
        font-size: 0.4em;
    }
}