.nav {
  background-color: #CC5500;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-item {
  list-style-type: none;
  text-shadow: 0.5rem 0.5rem 1rem #5d5d5d;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.nav-link {
  text-decoration: none;
  padding: 1.5rem 1rem;
  color: #DBE8E1;
  font-size: 2.3em;
}
.nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
  text-shadow: 0.1rem 0.1rem 2rem #ffffff;
}

@media (max-width: 655px) {
  .nav-link {
    padding: 1.5rem 0.8rem;
    font-size: 1.3em;
  }
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(62deg, #024281 0%, #13171f 100%);
}

.title {
  text-align: center;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expand {
  padding: 8rem 1rem 3rem 1rem;
}

#subtitle {
  font-size: 1em;
}

#expand_icon {
  width: 3rem;
}
#expand_icon:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
  transition: transform 0.3s ease-in-out;
}

#more_info {
  font-size: 0.55em;
  max-width: 50rem;
  padding: 0rem 3rem 1rem 3rem;
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1.03, 1.03);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hidden {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#more_info_img {
  border-radius: 50%;
  width: 15%;
  min-width: 13rem;
  max-width: 25rem;
}

#more_info_text {
  margin-top: 0.5rem;
  line-height: 1.3em;
  letter-spacing: 0.04em;
  font-size: 0.7em;
}

@media (max-width: 655px) {
  .title {
    font-size: 1.3em;
  }
  #more_info {
    padding: 0.3rem 1rem;
    font-size: 0.8em;
  }
  #more_info_img {
    display: none;
  }
}
.projects-section {
  min-height: 100vh;
  text-align: center;
  background: #022241;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-section-header {
  max-width: 40rem;
  padding: 0.3rem 1rem;
  border-bottom: 0.1rem solid #DBE8E1;
  margin: 2rem 0;
  font-size: 1.5rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  grid-gap: 3rem;
  margin-bottom: 2rem;
  align-content: space-between;
  padding: 2rem;
  max-width: 60rem;
}

.project {
  border-radius: 10px;
  text-decoration: none;
}
.project:hover .code {
  color: #D89C60;
}
.project:hover {
  transform: scaleY(0.98) scaleX(0.98);
  transition: transform 0.3s ease-out;
}

.project-title {
  font-size: 1.3em;
  padding: 1rem 0.5rem;
  color: #DBE8E1;
  background: #13171f;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
}

.project-image {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 90%;
  max-height: 20rem;
  border-radius: 10px 10px 0px 0px;
}

.code {
  color: #DBE8E1;
  font-size: 1.5em;
  transition: color 0.3s ease-out;
}

@media (max-width: 960px) {
  .projects-section-header {
    padding: 0.3rem 0.5rem;
    margin: 1rem 0;
  }
  .project-grid {
    grid-template-columns: repeat(2, 4fr);
    grid-gap: 4rem;
    margin-bottom: 1rem;
    padding: 2rem;
  }
  .project-title {
    font-size: 0.9em;
  }
  .project-image {
    max-height: 20rem;
  }
  .code {
    color: #DBE8E1;
    font-size: 1.5em;
    transition: color 0.3s ease-out;
  }
}
@media (max-width: 655px) {
  .projects-section-header {
    padding: 0.3rem 0.5rem;
    margin: 1rem 0;
    font-size: 1.1em;
  }
  .project-grid {
    grid-template-columns: repeat(1, 4fr);
    grid-gap: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .project-title {
    font-size: 0.9em;
  }
  .project-image {
    max-height: 13rem;
  }
  .code {
    color: #DBE8E1;
    font-size: 1.5em;
    transition: color 0.3s ease-out;
  }
}
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  background: #13171f;
}

.contact-header {
  font-size: 2.5em;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #DBE8E1;
  font-size: 1.5rem;
  padding: 3%;
}
.contact-detail:hover {
  transform: translateY(8px);
  transition: transform 0.3s ease-out;
}

.icon {
  max-width: 3rem;
}

#copyright {
  margin: 0.7rem;
  font-size: 0.9rem;
  color: #DBE8E1;
  text-align: center;
}

@media (max-width: 655px) {
  .contact-section {
    padding: 0 2rem;
  }
  .contact-header {
    font-size: 1.5em;
  }
  .contact-links {
    margin-top: 2rem;
    flex-direction: column;
  }
  .contact-detail {
    font-size: 1rem;
    padding: 3%;
  }
  .contact-detail:hover {
    transform: translateY(8px);
    transition: transform 0.3s ease-out;
  }
  .icon {
    max-width: 2rem;
  }
}
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #13171f;
  color: #DBE8E1;
  font-family: "IBM Plex Mono", monospace;
}/*# sourceMappingURL=main.css.map */